@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tinkoff Sans';
  src: url('/fonts/TinkoffSans.woff');
}

@layer base {
  body {
    @apply bg-tf-black text-tf-white font-tinkoff;
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  ul {
    @apply text-base md:text-lg;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1/1;
  }
}
